*
  margin 0
  padding 0

ul li 
  list-style none

#toast
  display none

.movie
  width 100%
  &-head
    width 100%
    height 40px
    line-height 40px
    background-color #1e2025
    color #ffffff
    padding 0 10px
    box-sizing border-box
    display flex
    .iconfont
      width 16px
    .title
      flex 1
      text-align center
  &-info
    padding 15px
    background-color #1e2025
    &_desc    
      display flex
      width 100%
      .info-pic
        width 122px
        height 165px
        overflow hidden
        img 
          width 100%
      .info-container
        flex 1
        color #9b9da2
        font-size 12px
        margin-left 10px
        .name
          color #ffffff
          font-size 24px
          font-family Arial, sans-serif
          font-weight normal
        .type
          span 
            width 40px
            height 14px
            display inline-block
            background url('https://s0.meituan.net/bs/myfe/canary/file/asgard/images/movie/movie-tag-2DIMAX.png') 
            background-size cover
            vertical-align middle // 拦腰对其
        .btn-wrap
          display flex
          margin-top 10px
          .flex
            flex 1 
            color #ffffff
            background-color #58585b
            height 32px
            line-height 32px
            text-align center
            border-radius 4px
            &:nth-child(2) // 选中第二个flex
              margin-left 10px
            // &:first-child // 选中第一个flex
            //   margin-right 10px
            .iconfont
              font-size 14px
    &_rate
      background-color #161619
      padding 10px
      border-radius 4px
      margin-top 15px
      .rate-title  
        display flex
        justify-content space-between  // 水平方向居中 
        font-size 12px   
        &_left
          color #ffffff
          .icon-maoyandianying
            color red
        &_right
          color #68686b 
      .rate-detail
        display flex
        &_left
          flex 454
          display flex
          .grade 
            // margin-left 15px
            text-align center
            h2
              color #fcc300
            p
              color #9b9da2
              font-size 12px
          .star
            // margin-right 15px
            display flex 
            align-items center
            text-align right
            .list
              display flex
              align-items center
              margin-top 2px
              .star-num
                font-size 0
                width 40px
                img 
                  height 8px
                  width 8px
              .percent
                width 78px
                height 4px
                background-color #252528
                position relative
                .percent-val
                  position absolute
                  top 0
                  left 0
                  height 100%
                  background #fcc300
                  display inline-block
                  width 80%
        &_right
          flex 266 
          display flex
          align-items center
          img 
            height 46px 
  &-desc
    padding 15px
    // .content
    //   overflow auto
    //   transition all 0.5s ease 
    .line-clamp
      // 限制文本显示的行数
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 3
      word-wrap break-word
      word-break break-all
      overflow hidden
    .arrow
      text-align center
      color #cfcfcf
      .iconfont 
        display block
        transform rotateZ(0deg)
        transition all 0.5s ease // 在这个容器中的所有元素发生变化，通过0.4s过渡
    .arrow .up
      display block
      transform rotateZ(180deg)
  &-slogan
    color #faf4f7
    padding 12px 5px
    border-top 1px solid #d9d9d9
    border-bottom 1px solid #d9d9d9
    // 垂直居中
    display flex
    align-items center
    img 
      border-radius 45px
      width 100%
  &-actors
    padding 15px 0 5px 15px
    h2
      font-weight normal
      margin-bottom 12px
    .movie-actors_desc
      margin-left -8px
      ul
        display flex
        width 100%
        overflow hidden
        .movie-actors_desc-content
          padding-left 8px
        img 
          height 100px
          width 77px
        .content
          display block
          text-align center
        .role
          color #a2a2a2